/* line 7 */
body {
  font-family: helvetica, verdana, arial, serif;
  font-size: 0.75em;
  color: #6d6f7a;
  background: #c7d0db;
  margin: 0;
  text-shadow: white 1px 1px 1px;
}
/* line 15 */
body ul {
  list-style: square;
}
/* line 17 */
body ul li {
  line-height: 1.3em;
}
/* line 19 */
body ul li em {
  margin-right: 5px;
  font-weight: bold;
}
/* line 26 */
body.popup {
  background: #e6eaef;
  padding: 8px;
  width: 400px;
  overflow: hidden;
  min-height: 300px;
}
/* line 34 */
body.popup #svc-search-txt {
  width: 300px;
}
/* line 38 */
body.popup #svc-search-btn {
  width: 80px;
}
/* line 42 */
body.popup .loader {
  display: block;
  width: 100%;
  height: 200px;
  background: url(/images/loader.gif) center no-repeat;
}
/* line 49 */
body.popup #menu {
  margin: 20px 0;
}
/* line 51 */
body.popup #menu ul {
  float: right;
}
/* line 53 */
body.popup #menu ul li {
  margin-right: 5px;
  list-style: none;
  display: inline-block;
}
/* line 61 */
body.popup #svc-recent {
  text-shadow: none;
}
/* line 66 */
body.popup #svc-recent a, body.popup #svc-unread a, body.popup #menu a {
  color: #626277;
  text-decoration: none;
}
/* line 69 */
body.popup #svc-recent a:hover, body.popup #svc-unread a:hover, body.popup #menu a:hover {
  color: #9696a9;
}
/* line 75 */
body.popup .svc-separator {
  height: 1px;
  margin-bottom: 6px;
  background: #dae0e7;
}
/* line 80 */
body.popup .svc-separator-top {
  height: 1px;
  margin-top: 6px;
  background: #f2f4f7;
}

/* line 90 */
#options {
  background: #e6eaef;
  margin: 30px auto;
  width: 310px;
  padding: 10px;
  border: 1px solid #a8b6c7;
  -moz-box-shadow: #98a9bd 2px 2px 9px 0;
  -webkit-box-shadow: #98a9bd 2px 2px 9px 0;
  -o-box-shadow: #98a9bd 2px 2px 9px 0;
  box-shadow: #98a9bd 2px 2px 9px 0;
}
/* line 98 */
#options label {
  display: block;
}
/* line 102 */
#options .invalid {
  background: #A37E84;
}
/* line 106 */
#options textarea {
  width: 310px;
  padding: 5px;
  margin-bottom: 10px;
  height: 200px;
}

/* line 115 */
#help li em {
  display: inline-block;
  width: 10px;
}

/* line 121 */
#footer {
  font-size: 0.9em;
  margin: 20px auto;
  text-align: center;
}
