=javascripts('options')

#options
  %h2 SVCommuniter

  %h3 Settings
  %p
    %input#clutter{:type=>'checkbox'} Remove clutter
  %label{:for=>'svc-block-users'} Usuarios que deseas blockear (escribe uno por linea)
  %textarea#svc-block-users

  #help
    :markdown
      ###Keyboard Shortcuts###

      * *j* siguiente mensaje
      * *k* mensaje anterior
      * *o* abrir post
      * *u* mensajes no leidos
      * *p* mensajes privados
      * *h* foro principal
      * *s* busqueda

#footer
  Jaime M. 2011
