#upper_section {
    background: #E6EAEF;
    text-shadow: 0 1px #fff;
    border: 1px solid #afafb0;
    -webkit-box-shadow: 0 5px 10px #999DA6;
}

.input_text {
    width: 200px;
    height: 21px;
    background-color: #EAEEF7;
    border-color: #D3D3D3;

    &:focus{
        background-color: #F7F7F7;
        border-color: #D6C9FF;
        -webkit-box-shadow: 0 0 7px #AEC3FF;
    }
}

/*Mute option*/
.troll{
	text-align : center;
    font-style : italic;
    color : #C06036;
    background : #FFFFFF;	
}

/*HIDE STUFF*/
#top_section{
    display:none
}

/*keyboard navigation*/
.svcselected td{background: #FFD44B}

