= javascripts('popup')

%body.popup
  %h3 SVCommuniter

  %form#svc-search
    %input#svc-search-txt
    %input#svc-search-btn{:type=>'submit', :value=>'search'}

  #svc-recent
    .loader

  -##help
  -#  :markdown
  -#    ###Keyboard Shortcuts###
  -#
  -#    * *j* siguiente mensaje
  -#    * *k* mensaje anterior
  -#    * *o* abrir post
  -#    * *u* mensajes no leidos
  -#    * *p* mensajes privados
  -#    * *h* foro principal
  -#    * *s* busqueda

  -##menu
  -#  %ul
  -#    %li
  -#      %a.svc-unread{:href=>'#'} Unread
  -#    %li
  -#      %a{:href=>'#'} Options
  -#    %li
  -#      %a{:href=>'#'} Help
